@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #030712;
  color: white;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #2563eb;
  color: white;
}